<% include ../partials/header %>
<style>
    body{
        background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    
    #datasource ul li span{
        background: #e74c3c;
        height: 40px;
        margin-right: 20px;
        text-align: center;
        color: white;
        width: 0;
        display: inline-block;
        transition: 0.2s linear;
        opacity: 0;
    }
    
    li:hover span{
        width: 40px;
        opacity: 1.0;
    }
    
    .fa-plus{
        float:right;
    }
    
    #Container {
/*
        width: 360px;
        margin: 0 auto 0 0;
        border: 2px solid gray;
*/
        overflow: auto;
    }

    .completed {
        color: gray;
    }
    
    #datasource li{
        background: white;
    }
    
    .listClick{
        color: gray;
        text-decoration: line-through;
    }
    
    .deleteClick{
        color: red;
    }
    
    input{
        font-size: 18px;
        color: #2980b9;
        background-color: #f7f7f7;
        width: 100%;
        padding: 13px 13px 13px 20px;
        box-sizing: border-box;
        border: 3px solid rgba(0,0,0,0);
    }
    
</style>

<% include ../partials/navbar %>

<div id="Container">
   
    <h1>Welcome To DataSource Page</h1>
    <span style="font-size:30px;cursor:pointer;float:left" onclick="openNav()">&#9776; </span>
    
    <div id="mySidenav" class="sidenav left_side">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        
        <button id="rightButton" class="dropdown-btn">DataBase<i class="fas fa-plus"></i></button>
        <div id="datasource">
        <input type="text">
        <ul>
           <%    let j = 0; %>
    <%    datasource.forEach(item => { %>
            <li><span><i class="fas fa-trash-alt"></i></span> <%= item['Vendor Name'] %></li>
    <%       j++; %>
    <%     }); %>
            
        </ul>
        
         
        
        </div>

       <button id="rightButton" class="dropdown-btn"><i>&#9947;</i>Excel Files</button>

        
        <div id="Excel_Files" class="dropdown-container-left">
<!--        this will display the table sheet name-->
   
        </div>

    </div>
    
    <div id="main" class="main" ondrop="drop_handler(event)" ondragover="dragover_handler(event)">
        <div class="canvas"></div>
      </div>
    
</div>


<span></span>

<script>    
//    check off the specific datasource name
    $("#datasource ul").on("click", "li", function(){
        $(this).toggleClass("listClick");
    });
    
//    delete the specific datasource name
    $("#datasource ul").on("click", "li span", function(event){
        $(this).parent().fadeOut(500, function(){
            $(this).remove();
        });
//        this will stop the li event to trigger and so on
        event.stopPropagation();
    });
    
    $("input[type='text']").keypress(function(event){
        if(event.which === 13){
            let dataName = $(this).val();
            $(this).val("");
             $("#datasource ul").append(`<li><span><i class="fas fa-trash-alt"></i></span> ${dataName}</li>`)
        }
    });
    
    
    let objSentFromSrv = <%- JSON.stringify(datasource); %>
        
        objSentFromSrv.forEach(item => console.log(item));

</script>

<% include ../partials/footer %>