<% include ../partials/header %>

<% include ../partials/navbar %>

<div class="connectedData">
    <div class="connectionName">
        <h4><%= dSource %></h4>
        <div class="tablesNames">
            <ul>
                <%    let j = 0; %>
                <%    excelModel.forEach(item => { %>
                <li ID="Sheets_<%=item.ID%>" draggable="true" ondragstart="dragstart_handler(event)"><%= item.Sheets %></li>
                <%       j++; %>
                <%     }); %>
            </ul>
        </div>
    </div>
</div>


<div class="whiteArea">
    <h1>The white space for dragging the sheet</h1>
    <div class="tablesObject">

    </div>
</div>

<div class="TableFields">

</div>

<% include ../partials/footer %>