<!DOCTYPE html>
<html lang="english">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupa2</title>
<!--we are getting the style.css from public directory so, we don't need to define the exact location, but if we have more template into different directory we need to include "/" to search for root directory-->
    <link rel="stylesheet" href="/style.css">
</head>
<body>