<ul class="topnav">
       <li class="right"><a class="nav_btn" href="#LOGO">LOGO</a></li>
       <li><a class ="active nav_btn" href="/">HOME</a></li>
       <li><a class ="nav_btn" href="/dataSource">Data Source</a></li>
       <li><a class="nav_btn" href="#about">About</a></li>
</ul>